<?xml version="1.0"?>
<model>
    <name>My model name</name>
    <version>1.0</version>
    <sdf version="1.7">my_ground_plane.sdf</sdf>

    <auther>
        <name>Purno</name>
        <email>aknasif43@gmail.com</email>
    </auther>

    <description>
        A blue ground plane
    </description>
</model>